@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --default-font-family: 'Lato', ui-sans-serif, system-ui, sans-serif;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(0.99 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.6832 0.1396 235.71);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.98 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.96 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.93 0 0);
    --input: oklch(0.93 0 0);
    --ring: var(--primary);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --shadow-2xs: 0 3px 6px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0 3px 6px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        0 3px 6px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow:
        0 3px 6px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md:
        0 3px 6px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg:
        0 3px 6px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl:
        0 3px 6px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0 3px 6px 0px hsl(0 0% 0% / 0.13);

    --scrollbar-thumb: #ddd;
    --scrollbar-thumb-hover: #555;
}

.dark {
    --background: oklch(0.25 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.255 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.6832 0.1396 235.71);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.3 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.4 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 25%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #666;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hm--ta-rating {
    --ta-color: #00aa6c;
    --ta-size: 16px;

    > span {
        width: var(--ta-size);
        height: var(--ta-size);
        border-radius: 50%;
        background-color: transparent;
        border: calc(calc(var(--ta-size) / 8)) solid var(--ta-color);
    }
}

.hm--ta-rating[data-score='0'] span:nth-child(-n + 0),
.hm--ta-rating[data-score='0.5'] span:nth-child(-n + 0),
.hm--ta-rating[data-score='1'] span:nth-child(-n + 1),
.hm--ta-rating[data-score='1.5'] span:nth-child(-n + 1),
.hm--ta-rating[data-score='2'] span:nth-child(-n + 2),
.hm--ta-rating[data-score='2.5'] span:nth-child(-n + 2),
.hm--ta-rating[data-score='3'] span:nth-child(-n + 3),
.hm--ta-rating[data-score='3.5'] span:nth-child(-n + 3),
.hm--ta-rating[data-score='4'] span:nth-child(-n + 4),
.hm--ta-rating[data-score='4.5'] span:nth-child(-n + 4),
.hm--ta-rating[data-score='5'] span:nth-child(-n + 5) {
    background-color: var(--ta-color);
}

.hm--ta-rating[data-score='0.5'] span:nth-child(1),
.hm--ta-rating[data-score='1.5'] span:nth-child(2),
.hm--ta-rating[data-score='2.5'] span:nth-child(3),
.hm--ta-rating[data-score='3.5'] span:nth-child(4),
.hm--ta-rating[data-score='4.5'] span:nth-child(5) {
    background-image: conic-gradient(
        transparent 0deg 0deg,
        transparent 180deg,
        var(--ta-color) 181deg 360deg
    );
}
